.dashboard {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #AFD4C0;
    overflow: hidden;
}

.header-logo {
    height: 27px;
    margin-top: 22px;
    margin-right: 25px;
    float: left;
}

.houser-sub {
    margin-right: 5px;
}

.dashboard-sub {
    margin-left: 5px;
    font-weight: 300;
}

.dashboard-header {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    background: #519872;
    color: white;
    text-align: left;
}

.logout {
    margin-left: 26%;      
}

.logout:hover {
    cursor: pointer;
}

.dashboard-body {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to bottom, #e2f3ea, #ffffff);
}


.add-btn {
    background: #8AEA92;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.desired-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.desired-rent {
    font-weight: 300;
    flex-wrap: wrap;
    margin-top: 20px;

}

.number-input {
    width: 50px;
    height: 20px;
    margin-top: 20px;
    margin-left: -22px;
    margin-right: 10px;
}

.filter-btn {
    background: #8AEA92;
    border: none;
    border-radius: 5px;
    width: 65px;
    height: 26px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 20px;
}

.reset-btn {
    background: #3B5249;
    color: white;
    border: none;
    border-radius: 5px;
    width: 65px;
    height: 26px;
    margin-left: 5 px;
    margin-right: 5px;
    margin-top: 20px;
}

hr {
     border: .5px solid black;
     width: 90%;
     margin-bottom: 0px;
}

.home-listings {
    float: left;
    margin-left: 40px;
    font-weight: 700;
}

h4 {
    margin: 0;
}

.list-container {
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;
    height: 100vh;
}

.list {
    display: flex;
    width: 95%;
    height: 125px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.list-image {
    background: rgb(204, 204, 204);
    height: 100%;
    width: 22%;
    
}   

.list-name {
    display: flex;
    flex-direction: column;
    background: rgb(222, 222, 222);
    font-weight: bold;
    height: 100%;
    width: 39%;
}
 
p {
    margin: 0;
    font-size: 13px;
    font-weight: bold;
}

.name-container {
    height: 20px;
    margin-left: 10px;
}

.home-desc {
    margin: 0 auto;
    height: 80%;
    width: 95%;
    text-align: left;
}

.line-container {
    display: flex;
    height: 100%;
    width: 2px;
    background: rgb(222, 222, 222);
}

.line {
    background: black;
    align-items: center;
    height: 85%;
    width: 1px;
    margin-top: 8px;
}
.list-info {
    background: rgb(222, 222, 222);
    height: 100%;
    width: 39%;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}


li {
    list-style-type: none;
}

.x {
    background: rgb(222, 222, 222);
    width: 20px;
    color: black;
}

.x:hover {
    cursor: pointer;
}


